# Global owners
* @REChain-Network-Solutions/maintainers

bridges/ @REChain-Network-Solutions/maintainers
cumulus/ @REChain-Network-Solutions/maintainers
substrate/ @REChain-Network-Solutions/maintainers
